.dtui-bg{
    background: red;
    margin:20px;
    padding:10px;
}
.dtui-font{
    font-size:12px;
}
.dtui-btn{
    width: auto;
    padding: 5px 20px;
    border: 1px solid #eee;
    border-radius: 3px;
}
